body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name{
    color: orange;
}
section{
    display: flex;
}
.add{
    width: 50%;
    padding: 5%;
}
.add img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(red,blue);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}